@import "../../assets/variables";

.tabs {
  &-head {
    display: flex;
    justify-content: center;
  }
  &-head-item-button {
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;

    &.active {
      color: @primary-color;
    }
  }
  &-head-item {
    padding: 1.5rem;
  }
}