@import "../../assets/variables.less";
@import "../../assets/mixins.less";

.weather-card {
  background: @background;
  display: flex;
  justify-content: center;
  align-items: center;
  .place-center();
  
  &-content {
    text-align: center;
  }
}